.labels {
    display: block;
    margin-top: 10px;
}

.input-form {
    display: block;
    margin-top: 10px;
}

.submit-button {
    display: inline;
    margin-top: 10px;
    color: green;
}

.delete-button {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
    color: red;
}
