.labels-exp {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 2%;
}

.container-exp {
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    display: block;
    /* border: 2px solid black; */
    width: 70%;
    margin: auto;
    text-align: center;
}

.input-form {
    display: block;
    margin-bottom: 2%;
}

.form-exp {
    position: relative;
    left: 5%;
    margin-bottom: 3%;
}

.submit-button {
    display: inline;
    margin-top: 10px;
    color: green;
    position: relative;
    right: 7%;
}

.delete-button {
    display: inline;
    margin-top: 10px;
    position: relative;
    right: 4%;
    color: red;
}

.align-left {
    float: left;
}
.align-right {
	float: right;
}
