.labels-info {
    display: flex;
    flex-direction: column;
    /* float: left;
    clear: left;
    width: 250px;
    text-align: right; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 2%;
}

.container-info {
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    display: block;
    /* border: 2px solid black; */
    width: 70%;
    margin: auto;
    text-align: center;
}

.form-info {
    display: flex;
    flex-direction: column;
    left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.main-store-infp {
    display: block;
    width: 90%;
    margin-left: 5%;
}


